# Auto detect text files and perform LF normalization
* text=auto
ContentMetaHumansCommonFaceFace_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Jesse/Face/Jesse_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/MyPatient/Face/MyPatient_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
